# dirs
.tmp/
.env/
.gcloud/
.metadata/
.terraform/
.vagrant/
secrets/
certs/

# vscode
.vscode/settings.json

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.logn
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
plan.out
.terraform.lock.hcl

# other files
inspec.lock
*.pem
*.todo

# sensitive env
box/.env
